Repository getsentry/sentry-toolbar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --quiet

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["eslint --fix"],
  "*.css": ["stylelint --fix --quiet"]
}

design: Setup tailwind theme (#39)
  src/lib/CounterDemo/Counter.tsx
  src/lib/CounterDemo/__snapshots__/Counter.spec.tsx.snap
  src/lib/components/Layout.tsx
  src/lib/components/Navigation.tsx
  src/lib/index.css
  tailwind.config.js
  templates/Component/TemplateName.tsx
Due: eslint --fix, stylelint --fix --quiet

feat: basic login & toolbar styles feat BLACK colors
  package.json
  pnpm-lock.yaml
  src/lib/components/AppRouter.tsx
  src/lib/components/DebugState.tsx
  src/lib/components/Layout.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/icon/IconClose.tsx
  src/lib/components/icon/IconIssues.tsx
  src/lib/components/icon/IconPin.tsx
  src/lib/components/icon/IconQuestion.tsx
  src/lib/components/icon/IconSentry.tsx
  src/lib/components/icon/IconSettings.tsx
  src/lib/components/icon/SvgIcon.tsx
  src/lib/components/layouts/CenterLayout.tsx
  src/lib/components/layouts/RightEdgeLayout.tsx
  src/lib/components/navigation/IconButton.tsx
  src/lib/components/unauth/Login.tsx
  src/lib/components/unauth/LoginButton.tsx
  src/lib/context/IconDefaultsContext.tsx
  src/lib/index.css
  tailwind.config.js
Due: eslint --fix, stylelint --fix --quiet

fix up dark/light mode and add animation to the nav bar
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/preview.tsx
  .vscode/extensions.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/env/demo/App.tsx
  src/lib/components/DebugState.tsx
  src/lib/components/Navigation.stories.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/navigation/IconButton.tsx
  src/lib/components/navigation/NavButton.tsx
  src/lib/hooks/useLocalStorage.ts
  src/lib/hooks/useNavigationExpansion.ts
  src/lib/index.css
  src/lib/mount.tsx
  src/lib/types/config.ts
  src/lib/utils/localStorage.ts
  tailwind.config.js
  tsconfig.json
  tsconfig.linter.json
Due: eslint --fix, stylelint --fix --quiet

rename for case-insensitive filesystem
  src/lib/components/DebugState.tsx
  src/lib/components/icon/IconClose.tsx
  src/lib/components/icon/IconIssues.tsx
  src/lib/components/icon/IconPin.tsx
  src/lib/components/icon/IconQuestion.tsx
  src/lib/components/icon/IconSentry.tsx
  src/lib/components/icon/IconSettings.tsx
  src/lib/components/icon/SVGIconBase.tsx
  src/lib/context/IconDefaultsContext.tsx
  tsconfig.json
Due: eslint --fix

no hover unless clickable
  src/lib/components/Navigation.tsx
Due: eslint --fix

fix toPathOrHome logic
  src/lib/components/Navigation.tsx
Due: eslint --fix

tweak icon sizes
  src/lib/components/Navigation.tsx
  src/lib/components/icon/SVGIconBase.tsx
  src/lib/components/layouts/RightEdgeLayout.tsx
Due: eslint --fix

feat: basic login & toolbar styles (#44)
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/preview.tsx
  .vscode/extensions.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/env/demo/App.tsx
  src/lib/components/AppRouter.tsx
  src/lib/components/DebugState.tsx
  src/lib/components/Layout.tsx
  src/lib/components/Navigation.stories.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/icon/IconClose.tsx
  src/lib/components/icon/IconIssues.tsx
  src/lib/components/icon/IconPin.tsx
  src/lib/components/icon/IconQuestion.tsx
  src/lib/components/icon/IconSentry.tsx
  src/lib/components/icon/IconSettings.tsx
  src/lib/components/icon/SVGIconBase.tsx
  src/lib/components/layouts/CenterLayout.tsx
  src/lib/components/layouts/RightEdgeLayout.tsx
  src/lib/components/navigation/IconButton.tsx
  src/lib/components/navigation/NavButton.tsx
  src/lib/components/unauth/Login.tsx
  src/lib/components/unauth/LoginButton.tsx
  src/lib/context/IconDefaultsContext.tsx
  src/lib/hooks/useLocalStorage.ts
  src/lib/hooks/useNavigationExpansion.ts
  src/lib/index.css
  src/lib/mount.tsx
  src/lib/types/config.ts
  src/lib/utils/localStorage.ts
  tailwind.config.js
  tsconfig.json
  tsconfig.linter.json
Due: eslint --fix, stylelint --fix --quiet

feat: Nav buttons should toggle UI and target when the panel is already rendered
  src/lib/components/Navigation.tsx
  tailwind.config.js
Due: eslint --fix

rename
  src/lib/components/Navigation.tsx
Due: eslint --fix

feat: Nav buttons should toggle UI and target when the panel is already rendered (#45)
  src/lib/components/Navigation.tsx
  tailwind.config.js
Due: eslint --fix

feat: Update styles for Issues List to make it readable
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/lib/components/InfiniteListItems.tsx
  src/lib/components/Loading.stories.tsx
  src/lib/components/Loading.tsx
  src/lib/components/LoadingSpinner.stories.tsx
  src/lib/components/LoadingSpinner.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/Placeholder.tsx
  src/lib/components/SentryAppLink.tsx
  src/lib/components/datetime/RelativeDateTime.tsx
  src/lib/components/layouts/CenterLayout.tsx
  src/lib/components/layouts/RightEdgeLayout.tsx
  src/lib/components/panels/PanelLayout.tsx
  src/lib/components/panels/issues/IssueListItem.tsx
  src/lib/components/panels/issues/IssuesPanel.tsx
  src/lib/components/panels/settings/SettingsPanel.tsx
  src/lib/sentryApi/types/group.ts
Due: eslint --fix

feat: Update styles for Issues List to make it readable (#46)
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/lib/components/InfiniteListItems.tsx
  src/lib/components/Loading.stories.tsx
  src/lib/components/Loading.tsx
  src/lib/components/LoadingSpinner.stories.tsx
  src/lib/components/LoadingSpinner.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/Placeholder.tsx
  src/lib/components/SentryAppLink.tsx
  src/lib/components/datetime/RelativeDateTime.tsx
  src/lib/components/layouts/CenterLayout.tsx
  src/lib/components/layouts/RightEdgeLayout.tsx
  src/lib/components/panels/PanelLayout.tsx
  src/lib/components/panels/issues/IssueListItem.tsx
  src/lib/components/panels/issues/IssuesPanel.tsx
  src/lib/components/panels/settings/SettingsPanel.tsx
  src/lib/sentryApi/types/group.ts
Due: eslint --fix

build: Configure minimal @sentry/vite-plugin
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix

feat: Create a debug config flag to control the Settings Panel and floating app state view
  src/lib/components/Navigation.tsx
  src/lib/components/layouts/CenterLayout.tsx
  src/lib/components/layouts/RightEdgeLayout.tsx
  src/lib/types/config.ts
Due: eslint --fix

build: Configure minimal @sentry/vite-plugin (#48)
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix

feat: Create a debug config flag to control the Settings Panel and floating app state view (#47)
  src/lib/components/Navigation.tsx
  src/lib/components/layouts/CenterLayout.tsx
  src/lib/components/layouts/RightEdgeLayout.tsx
  src/lib/types/config.ts
Due: eslint --fix

build: Setup Craft to deploy the toolbar into gcs & the CDN
  .craft.yml
  .github/workflows/merge-jobs.yml
  .github/workflows/release.yml
  bin/bump-version.sh
Due: none

adjust filenames
  .craft.yml
  .github/workflows/merge-jobs.yml
  README.md
  docs/conditional-script.md
  vite.config.ts
Due: eslint --fix

build: Setup Craft to deploy the toolbar into gcs & the CDN (#49)
  .craft.yml
  .github/workflows/merge-jobs.yml
  .github/workflows/release.yml
  README.md
  bin/bump-version.sh
  docs/conditional-script.md
  vite.config.ts
Due: eslint --fix

build: Set statusProvider for craft
  .craft.yml
Due: none

build: Lint, test and build release branches
  .github/workflows/merge-jobs.yml
Due: none

build: Lint, test and build release branches (#51)
  .github/workflows/merge-jobs.yml
Due: none

build: Archive the correct artifacts
  .github/workflows/merge-jobs.yml
Due: none

build: Archive the correct artifacts (#52)
  .github/workflows/merge-jobs.yml
Due: none

build: Set the TTL for the CDN built target to 60s
  .craft.yml
  README.md
  docs/conditional-script.md
  vite.config.ts
Due: eslint --fix

typo
  docs/conditional-script.md
Due: none

build: Set the TTL for the CDN built target to 60s (#53)
  .craft.yml
  README.md
  docs/conditional-script.md
  vite.config.ts
Due: eslint --fix

release: 1.0.0-alpha.1
  package.json
Due: none

build: Set the TTL for versioned CDN files to be 1 year
  .craft.yml
Due: none

ref: all the things
  mock/server/index.js
  mock/server/public/toolbar/iframe-invalid.html
  mock/server/public/toolbar/iframe-valid.html
  mock/server/public/toolbar/iframe.html
  mock/server/public/toolbar/login-success.html
  src/env/demo/App.tsx
  src/lib/components/AppRouter.tsx
  src/lib/components/DebugState.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/layouts/CenterLayout.tsx
  src/lib/components/layouts/RightEdgeLayout.tsx
  src/lib/components/panels/issues/IssueListItem.tsx
  src/lib/components/unauth/ConfigInstructions.tsx
  src/lib/components/unauth/Connecting.tsx
  src/lib/components/unauth/InvalidDomain.tsx
  src/lib/components/unauth/Login.tsx
  src/lib/components/unauth/LoginButton.tsx
  src/lib/components/unauth/MissingProject.tsx
  src/lib/context/ApiProxyContext.tsx
  src/lib/context/AuthContext.tsx
  src/lib/context/Providers.tsx
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/utils/ApiProxy.spec.ts
  src/lib/utils/ApiProxy.ts
Due: eslint --fix

keep the templates in sync with prod
  mock/server/index.js
  mock/server/public/toolbar/iframe.html
  mock/server/public/toolbar/login-success.html
  src/env/demo/App.tsx
Due: eslint --fix

no changes to App.tsx
  src/env/demo/App.tsx
Due: eslint --fix

drop LoginButton
  src/lib/components/unauth/Login.tsx
  src/lib/components/unauth/LoginButton.tsx
Due: eslint --fix

ref: Refactor proxyState and keep in sync with sentry template changes (#59)
  mock/server/index.js
  mock/server/public/toolbar/iframe-invalid.html
  mock/server/public/toolbar/iframe-valid.html
  mock/server/public/toolbar/iframe.html
  mock/server/public/toolbar/login-success.html
  src/lib/components/AppRouter.tsx
  src/lib/components/DebugState.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/layouts/CenterLayout.tsx
  src/lib/components/layouts/RightEdgeLayout.tsx
  src/lib/components/panels/issues/IssueListItem.tsx
  src/lib/components/unauth/ConfigInstructions.tsx
  src/lib/components/unauth/Connecting.tsx
  src/lib/components/unauth/InvalidDomain.tsx
  src/lib/components/unauth/Login.tsx
  src/lib/components/unauth/LoginButton.tsx
  src/lib/components/unauth/MissingProject.tsx
  src/lib/context/ApiProxyContext.tsx
  src/lib/context/AuthContext.tsx
  src/lib/context/Providers.tsx
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/utils/ApiProxy.spec.ts
  src/lib/utils/ApiProxy.ts
Due: eslint --fix

release: 1.0.0-alpha.2
  package.json
Due: none

ci: Remove default release version and write about it in README
  .github/workflows/release.yml
Due: none

ci: Remove default release version and write about it in README (#60)
  .github/workflows/release.yml
Due: none

docs: Add docs to the README about releasing new versions
  README.md
  docs/conditional-script.md
Due: none

docs: Add docs to the README about releasing new versions (#61)
  README.md
  docs/conditional-script.md
Due: none
