Repository getsentry/sentry-toolbar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --quiet

ci: Split CI Tasks into named steps (#12)
  .github/workflows/merge-jobs.yml
  .github/workflows/pull-request-jobs.yml
Due: none

Update SvgIconProps to silence some vite output
  src/lib/components/icon/IconClose.tsx
  src/lib/components/icon/IconIssues.tsx
  src/lib/components/icon/IconSettings.tsx
  src/lib/components/icon/SvgIcon.tsx
Due: eslint --fix

ci: Create dependabot.yml
  .github/dependabot.yml
Due: none

feat: Setup the basics to get a list of issues into their own panel (#10)
  package.json
  pnpm-lock.yaml
  src/lib/components/AppRouter.tsx
  src/lib/components/InfiniteListItems.tsx
  src/lib/components/InfiniteListState.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/icon/IconClose.tsx
  src/lib/components/icon/IconIssues.tsx
  src/lib/components/icon/IconSettings.tsx
  src/lib/components/icon/SvgIcon.tsx
  src/lib/components/navigation/NavButton.tsx
  src/lib/components/panels/issues/IssueListItem.tsx
  src/lib/components/panels/issues/IssuesPanel.tsx
  src/lib/components/panels/issues/useInfiniteIssuesList.ts
  src/lib/components/panels/settings/SettingsPanel.tsx
  src/lib/hooks/fetch/useFetchInfiniteSentryData.ts
  src/lib/hooks/fetch/useFetchSentryData.ts
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/hooks/useSentryOrg.ts
  src/lib/hooks/useSentryProject.ts
  src/lib/types/sentry/group.ts
  src/lib/types/sentry/organization.ts
  src/lib/types/sentry/project.ts
  tsconfig.json
Due: eslint --fix

ci: Create dependabot.yml (#13)
  .github/dependabot.yml
Due: none

ci: Fix dependabot ecosystem value
  .github/dependabot.yml
Due: none

ci: Fix dependabot ecosystem value (#15)
  .github/dependabot.yml
Due: none

cleanup extra customTemplate file
  generate-react-cli.json
Due: none

fix template file generation settings
  generate-react-cli.json
Due: none

Also bump @typescript-eslint/eslint-plugin & @typescript-eslint/parser
  package.json
  pnpm-lock.yaml
Due: none

lint: Fix import of demo css file
  src/env/demo/App.tsx
Due: eslint --fix

lint: Fix import of demo css file (#21)
  src/env/demo/App.tsx
Due: eslint --fix

feat: Setup some automation for managing sentry api response types
  bin/detect-types/index.js
  bin/detect-types/package.json
  bin/detect-types/pnpm-lock.yaml
  eslint.config.js
  package.json
  src/lib/components/panels/issues/IssueListItem.tsx
  src/lib/components/panels/issues/IssuesPanel.tsx
  src/lib/components/panels/issues/useInfiniteIssuesList.ts
  src/lib/components/panels/settings/SettingsPanel.tsx
  src/lib/hooks/useSentryOrg.ts
  src/lib/hooks/useSentryProject.ts
  src/lib/sentryApi/README.md
  src/lib/sentryApi/queryKeys.ts
  src/lib/sentryApi/raw/rawgroup.d.ts
  src/lib/sentryApi/raw/raworganization.d.ts
  src/lib/sentryApi/raw/rawproject.d.ts
  src/lib/sentryApi/types/Organization.ts
  src/lib/sentryApi/types/Project.ts
  src/lib/sentryApi/types/group.ts
  src/lib/types/api.ts
  src/lib/types/sentry/group.ts
  src/lib/types/sentry/organization.ts
  src/lib/types/sentry/project.ts
Due: eslint --fix

lint: Enable noUncheckedIndexedAccess in typescript
  src/lib/components/InfiniteListItems.tsx
  src/lib/utils/ApiProxy.ts
  src/lib/utils/parseLinkHeader.ts
  tsconfig.json
Due: eslint --fix

lint: Enable noUncheckedIndexedAccess in typescript (#23)
  src/lib/components/InfiniteListItems.tsx
  src/lib/utils/ApiProxy.ts
  src/lib/utils/parseLinkHeader.ts
  tsconfig.json
Due: eslint --fix

feat: Setup some automation for managing sentry api response types (#22)
  bin/detect-types/index.js
  bin/detect-types/package.json
  bin/detect-types/pnpm-lock.yaml
  eslint.config.js
  package.json
  src/lib/components/panels/issues/IssueListItem.tsx
  src/lib/components/panels/issues/IssuesPanel.tsx
  src/lib/components/panels/issues/useInfiniteIssuesList.ts
  src/lib/components/panels/settings/SettingsPanel.tsx
  src/lib/hooks/useSentryOrg.ts
  src/lib/hooks/useSentryProject.ts
  src/lib/sentryApi/README.md
  src/lib/sentryApi/queryKeys.ts
  src/lib/sentryApi/raw/rawgroup.d.ts
  src/lib/sentryApi/raw/raworganization.d.ts
  src/lib/sentryApi/raw/rawproject.d.ts
  src/lib/sentryApi/types/Organization.ts
  src/lib/sentryApi/types/Project.ts
  src/lib/sentryApi/types/group.ts
  src/lib/types/api.ts
  src/lib/types/sentry/group.ts
  src/lib/types/sentry/organization.ts
  src/lib/types/sentry/project.ts
Due: eslint --fix

docs: Update development instructions to be clearer
  README.md
  src/lib/sentryApi/queryKeys.ts
Due: eslint --fix

include a note about /logout
  README.md
Due: none

chore: Add initial CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: Add initial CODEOWNERS (#36)
  .github/CODEOWNERS
Due: none

docs: Update development instructions to be clearer (#35)
  README.md
  src/lib/sentryApi/queryKeys.ts
Due: eslint --fix

Add MIT LICENCE
  LICENCE
Due: none

Update LICENCE
  LICENCE
Due: none

Add MIT LICENCE (#37)
  LICENCE
Due: none

Delete LICENCE
  LICENCE
Due: none

Delete LICENCE (#38)
  LICENCE
Due: none

Update codeql.yml
  .github/workflows/codeql.yml
Due: none

Update codeql.yml (#40)
  .github/workflows/codeql.yml
Due: none

Update codeql.yml (#41)
  .github/workflows/codeql.yml
Due: none

Create codeql-config.yml
  .github/codeql/codeql-config.yml
Due: none

Create codeql-config.yml (#42)
  .github/codeql/codeql-config.yml
Due: none

design: Setup tailwind theme
  src/lib/CounterDemo/Counter.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/navigation/IconButton.tsx
  src/lib/components/panels/PanelLayout.tsx
  src/lib/index.css
  tailwind.config.js
  templates/Component/TemplateName.tsx
Due: eslint --fix, stylelint --fix --quiet

Fix typo
  README.md
Due: none

Fix typo (#43)
  README.md
Due: none

update snapshots
  src/lib/CounterDemo/__snapshots__/Counter.spec.tsx.snap
  src/lib/components/Navigation.tsx
  src/lib/index.css
  tailwind.config.js
Due: eslint --fix, stylelint --fix --quiet

fixes
  src/lib/CounterDemo/Counter.tsx
  src/lib/components/Layout.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/navigation/IconButton.tsx
  src/lib/components/panels/PanelLayout.tsx
  tailwind.config.js
Due: eslint --fix

update snapshots
  src/lib/CounterDemo/__snapshots__/Counter.spec.tsx.snap
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  stylelint --fix --quiet: any of: *.css
