Repository getsentry/sentry-toolbar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --quiet

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["eslint --fix"],
  "*.css": ["stylelint --fix --quiet"]
}

ref: Make debug non-nullable after hydration
  src/lib/components/DebugState.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/unauth/Login.tsx
  src/lib/context/ApiProxyContext.tsx
  src/lib/context/__mocks__/defaultConfig.ts
  src/lib/context/defaultConfig.ts
  src/lib/types/config.ts
  src/lib/utils/ApiProxy.ts
  src/lib/utils/hydrateConfig.ts
Due: eslint --fix

feat: Add tooltips to Nav icon buttons (#153)
  src/lib/components/Navigation.tsx
Due: eslint --fix

feat: JSON Config button should toggle the panel open/closed
  src/lib/components/Navigation.tsx
Due: eslint --fix

feat: JSON Config button should toggle the panel open/closed (#155)
  src/lib/components/Navigation.tsx
Due: eslint --fix

update label
  src/lib/components/Navigation.tsx
Due: eslint --fix

ref: Make debug non-nullable after hydration (#154)
  src/lib/components/DebugState.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/unauth/Login.tsx
  src/lib/context/ApiProxyContext.tsx
  src/lib/context/__mocks__/defaultConfig.ts
  src/lib/context/defaultConfig.ts
  src/lib/types/config.ts
  src/lib/utils/ApiProxy.ts
  src/lib/utils/hydrateConfig.ts
Due: eslint --fix

ref: Replace framer-motion with Transition from headlessui
  package.json
  pnpm-lock.yaml
  src/lib/components/Navigation.tsx
Due: eslint --fix

ref: Replace framer-motion with Transition from headlessui (#156)
  package.json
  pnpm-lock.yaml
  src/lib/components/Navigation.tsx
Due: eslint --fix

fix: Fix spacing inside Nav
  src/lib/components/Navigation.tsx
Due: eslint --fix

fix: Fix spacing inside Nav (#157)
  src/lib/components/Navigation.tsx
Due: eslint --fix

release: 1.0.0-beta.1
  package.json
Due: none

feat: Set sentryOrigin default earlier so it appears in UI labels & everywhere
  src/lib/sentryApi/urls.ts
  src/lib/types/config.ts
  src/lib/utils/hydrateConfig.spec.ts
  src/lib/utils/hydrateConfig.ts
Due: eslint --fix

feat: Set sentryOrigin default earlier so it appears in UI labels & everywhere (#162)
  src/lib/sentryApi/urls.ts
  src/lib/types/config.ts
  src/lib/utils/hydrateConfig.spec.ts
  src/lib/utils/hydrateConfig.ts
Due: eslint --fix

docs: Cleanup deleted example env var
  .env.example
Due: none

docs: Cleanup outdated example env var
  .env.example
Due: none

docs: Cleanup outdated example env var (#163)
  .env.example
Due: none

ci: Upload the tarball for publishing to github releases
  .github/workflows/merge-jobs.yml
Due: none

ci: Upload the tarball for publishing to github releases (#164)
  .github/workflows/merge-jobs.yml
Due: none

fix: Fix link to Configure Project
  src/lib/components/unauth/InvalidDomain.tsx
Due: eslint --fix

fix: Fix link to Configure Project (#165)
  src/lib/components/unauth/InvalidDomain.tsx
Due: eslint --fix

fix: Disable iframe logging
  src/lib/context/ApiProxyContext.tsx
Due: eslint --fix

allow debug:true
  src/lib/types/config.ts
  src/lib/utils/hydrateConfig.spec.ts
  src/lib/utils/hydrateConfig.ts
Due: eslint --fix

fix: SentryAppLink should use computed getSentryWebOrigin
  src/lib/components/SentryAppLink.tsx
  src/lib/components/unauth/InvalidDomain.tsx
Due: eslint --fix

fix: Disable iframe logging (#166)
  src/lib/context/ApiProxyContext.tsx
  src/lib/types/config.ts
  src/lib/utils/hydrateConfig.spec.ts
  src/lib/utils/hydrateConfig.ts
Due: eslint --fix

fix: SentryAppLink should use computed getSentryWebOrigin (#167)
  src/lib/components/SentryAppLink.tsx
  src/lib/components/unauth/InvalidDomain.tsx
Due: eslint --fix

release: 1.0.0-beta.2
  package.json
Due: none

fix: Fix baseConfig in storybook preview.tsx
  .storybook/preview.tsx
Due: eslint --fix

fix: Fix baseConfig in storybook preview.tsx (#168)
  .storybook/preview.tsx
Due: eslint --fix

ref: Refactor setColorScheme to reuse in stories
  .storybook/main.ts
  .storybook/preview.tsx
  src/lib/index.css
  src/lib/mount.tsx
  src/lib/utils/setColorScheme.tsx
Due: eslint --fix, stylelint --fix --quiet

ref: Refactor setColorScheme to reuse in stories (#169)
  .storybook/main.ts
  .storybook/preview.tsx
  src/lib/index.css
  src/lib/mount.tsx
  src/lib/utils/setColorScheme.tsx
Due: eslint --fix, stylelint --fix --quiet

ci: Build the target inside ./dist so it uploads
  .github/workflows/merge-jobs.yml
  package.json
Due: none

ci: Allow manually building any branch
  .github/workflows/merge-jobs.yml
Due: none

ci: Allow manually building any branch (#171)
  .github/workflows/merge-jobs.yml
Due: none

create the file outside, then move it in
  package.json
Due: none

build it and upload it directly
  .github/workflows/merge-jobs.yml
  package.json
Due: none

release: 1.0.0-alpha.5
  package.json
Due: none

Replace release bot with GH app
  .github/workflows/release.yml
Due: none

build the tgz and include it with the ./dist files
  .github/workflows/merge-jobs.yml
  package.json
Due: none

release: 1.0.0-alpha.6
  package.json
Due: none

feat(release): Replace release bot with GH app (#172)
  .github/workflows/release.yml
Due: none
