Repository getsentry/sentry-toolbar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --quiet

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["eslint --fix"],
  "*.css": ["stylelint --fix --quiet"]
}

update import paths, and setup basic app-level Context wrappers
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/env/App/App.tsx
  src/env/demo/demo.tsx
  src/env/demo/index.css
  src/lib/components/providers.tsx
  src/lib/hooks/ConfigContext.tsx
  src/lib/index.ts
  src/lib/mount.tsx
  src/lib/types.ts
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: eslint --fix, stylelint --fix --quiet

wire up context for reading/writing auth status
  package.json
  pnpm-lock.yaml
  src/env/demo/demo.tsx
  src/lib/components/app.tsx
  src/lib/components/providers.tsx
  src/lib/components/unauth/LoginButton.tsx
  src/lib/context/AuthContext.tsx
  src/lib/context/ConfigContext.tsx
  src/lib/hooks/fetch/useFetchInfiniteSentryData.ts
  src/lib/hooks/fetch/useFetchSentryData.ts
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/index.ts
  src/lib/mount.tsx
  src/lib/types.ts
  src/lib/types/api.ts
  src/lib/types/config.ts
  src/lib/utils/parseLinkHeader.spec.ts
  src/lib/utils/parseLinkHeader.ts
Due: eslint --fix

Update README with some more dev and prod comments
  README.md
  docs/conditional-script.md
  package.json
Due: none

Remove styfle/cancel-workflow-action step from workflows
  .github/workflows/merge-jobs.yml
  .github/workflows/pages.yml
  .github/workflows/pull-request-jobs.yml
Due: none

Update lint-test CI job to run on more often and manually
  .github/workflows/pull-request-jobs.yml
  README.md
Due: none

Improve the mock server to better represent prod environment
  mock/server/index.js
  mock/server/package.json
  mock/server/pnpm-lock.yaml
  mock/server/public/login.html
  mock/server/public/success.html
  package.json
  src/lib/components/app.tsx
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/mount.tsx
Due: eslint --fix

Create diagrams.md
  docs/diagrams.md
Due: none

Update diagrams.md
  docs/diagrams.md
Due: none

iterate on the mock server to make it more realistic
  README.md
  mock/server/index.js
  mock/server/public/login.html
  mock/server/public/success.html
  mock/server/public/toolbar.html
  mock/server/public/toolbar/iframe.html
  mock/server/public/toolbar/login-success.html
  src/env/demo/index.css
  src/lib/components/unauth/LoginButton.tsx
  src/lib/mount.tsx
Due: eslint --fix, stylelint --fix --quiet

Mock out the auth/proxy connection flow using the mock server
  mock/server/index.js
  mock/server/public/toolbar/iframe.html
  mock/server/public/toolbar/login-success.html
  package.json
  pnpm-lock.yaml
  src/lib/components/app.tsx
  src/lib/components/providers.tsx
  src/lib/components/unauth/LoginButton.tsx
  src/lib/context/AuthContext.tsx
  src/lib/context/ProxyContext.tsx
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/mount.tsx
  src/lib/utils/iframeProxy.ts
Due: eslint --fix

Mock out the auth/proxy connection flow using the mock server
  src/lib/components/app.tsx
  src/lib/context/ProxyContext.tsx
  src/lib/hooks/fetch/useSentryApi.ts
Due: eslint --fix

remove dayjs, its not used yet
  package.json
  pnpm-lock.yaml
  src/lib/utils/iframeProxy.ts
Due: eslint --fix

tests and renames and polish
  mock/server/public/toolbar/iframe.html
  mock/server/public/toolbar/login-success.html
  src/lib/components/app.tsx
  src/lib/components/providers.tsx
  src/lib/context/ApiProxyContext.tsx
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/utils/ApiProxy.spec.ts
  src/lib/utils/ApiProxy.ts
  src/setupTests.ts
Due: eslint --fix

Fix lint in example file
  src/lib/CounterDemo/Counter.tsx
Due: eslint --fix

fix Attempted to synchronously unmount a root while React was already rendering.
  mock/server/public/toolbar/iframe.html
  src/lib/components/app.tsx
  src/lib/mount.tsx
Due: eslint --fix

return more Response fields from the proxy, and call JSON.parse in the main thread
  mock/server/public/toolbar/iframe.html
  src/lib/components/app.tsx
  src/lib/context/ApiProxyContext.tsx
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/types/api.ts
  src/lib/utils/ApiProxy.spec.ts
  src/lib/utils/ApiProxy.ts
  src/lib/utils/tryJsonParse.ts
Due: eslint --fix

extract _frame from the proxy instance
  src/lib/components/app.tsx
  src/lib/context/ApiProxyContext.tsx
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/utils/ApiProxy.ts
Due: eslint --fix

add support for cancelling proxy requests
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/utils/ApiProxy.spec.ts
  src/lib/utils/ApiProxy.ts
Due: eslint --fix

iterate on the re-login flow
  mock/server/index.js
  mock/server/public/toolbar/iframe.html
  mock/server/public/toolbar/login-success.html
  src/lib/components/app.tsx
  src/lib/context/ApiProxyContext.tsx
  src/lib/context/ConfigContext.tsx
  src/lib/context/defaultConfig.ts
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/utils/ApiProxy.spec.ts
  src/lib/utils/ApiProxy.ts
Due: eslint --fix

iterate some more, with mock server-side auth state
  mock/server/index.js
  mock/server/public/auth/login.html
  mock/server/public/toolbar/iframe.html
  mock/server/public/toolbar/login-success.html
  src/lib/components/app.tsx
  src/lib/components/providers.tsx
  src/lib/context/ApiProxyContext.tsx
  src/lib/context/AuthContext.tsx
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/types/api.ts
  src/lib/utils/ApiProxy.spec.ts
  src/lib/utils/ApiProxy.ts
Due: eslint --fix

rewrite mock server in expressjs
  mock/server/index.js
  mock/server/package.json
  mock/server/pnpm-lock.yaml
  mock/server/public/auth/logout.html
  mock/server/public/toolbar/iframe.html
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/types/api.ts
Due: eslint --fix

lint
  mock/server/index.js
Due: eslint --fix

tweaks
  mock/server/index.js
Due: eslint --fix

set missing template var
  mock/server/index.js
  mock/server/public/auth/login.html
Due: eslint --fix

Split up iframe template by state
  mock/server/index.js
  mock/server/public/toolbar/iframe-invalid.html
  mock/server/public/toolbar/iframe-valid.html
Due: eslint --fix

feat: Setup routes and a demo panel with api data
  package.json
  pnpm-lock.yaml
  src/lib/components/AppRouter.tsx
  src/lib/components/Layout.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/SentryAppLink.tsx
  src/lib/components/app.tsx
  src/lib/components/icons/iconClose.tsx
  src/lib/components/icons/iconIssues.tsx
  src/lib/components/icons/svgIcon.tsx
  src/lib/components/navigation/IconButton.tsx
  src/lib/components/navigation/NavButton.tsx
  src/lib/components/panels/PanelLayout.tsx
  src/lib/components/panels/settings/SettingsPanel.tsx
  src/lib/components/unauth/ConfigInstructions.tsx
  src/lib/components/unauth/Connecting.tsx
  src/lib/components/unauth/Login.tsx
  src/lib/components/unauth/LoginButton.tsx
  src/lib/context/ApiProxyContext.tsx
  src/lib/context/AuthContext.tsx
  src/lib/context/IconDefaultsContext.tsx
  src/lib/context/PortalTargetContext.tsx
  src/lib/context/Providers.tsx
  src/lib/mount.tsx
Due: eslint --fix

rev
  src/lib/components/AppRouter.tsx
  src/lib/components/Layout.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/SentryAppLink.tsx
  src/lib/components/icons/IconSettings.tsx
  src/lib/components/icons/iconIssues.tsx
Due: eslint --fix

lint
  src/lib/components/icons/IconSettings.tsx
Due: eslint --fix

rename to fix file casing
  src/lib/components/Navigation.tsx
  src/lib/components/icon/IconClose.tsx
  src/lib/components/icon/IconSettings.tsx
  src/lib/components/icon/SvgIcon.tsx
  src/lib/context/IconDefaultsContext.tsx
Due: eslint --fix

Setup the basics to get a list of issues into their own panel
  package.json
  pnpm-lock.yaml
  src/lib/components/AppRouter.tsx
  src/lib/components/InfiniteListItems.tsx
  src/lib/components/InfiniteListState.tsx
  src/lib/components/Navigation.tsx
  src/lib/components/icon/IconIssues.tsx
  src/lib/components/navigation/NavButton.tsx
  src/lib/components/panels/issues/IssueListItem.tsx
  src/lib/components/panels/issues/IssuesPanel.tsx
  src/lib/components/panels/issues/useInfiniteIssuesList.ts
  src/lib/components/panels/settings/SettingsPanel.tsx
  src/lib/hooks/fetch/useFetchInfiniteSentryData.ts
  src/lib/hooks/fetch/useFetchSentryData.ts
  src/lib/hooks/fetch/useSentryApi.ts
  src/lib/hooks/useSentryOrg.ts
  src/lib/hooks/useSentryProject.ts
  src/lib/types/sentry/group.ts
  src/lib/types/sentry/organization.ts
  src/lib/types/sentry/project.ts
  tsconfig.json
Due: eslint --fix

fix tsconfig
  tsconfig.json
Due: none

ci: Add CodeQL check
  .github/workflows/codeql.yml
Due: none

Correct branch name and specific file extensions
  .github/workflows/codeql.yml
Due: none

ci: Add CodeQL workflow (#11)
  .github/workflows/codeql.yml
Due: none

ci: Split CI Tasks into named steps
  .github/workflows/merge-jobs.yml
  .github/workflows/pull-request-jobs.yml
Due: none
